@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #74beff;

  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 60px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: #ffca48;

  height: 60px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #ffca48;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;
  gap: 28px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 43.5px 112px 44.5px 62px;

  border-radius: 0px 0px 26px 26px;

  background: #ffca48;

  box-shadow: 0px 4px 16px 0px #ffffff;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Inter;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #000;
}

.navigation__link:hover,
.navigation__link:focus {
  text-decoration: underline;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    position: fixed;

    width: 100%;
    height: 60px;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }

  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;

    position: static;

    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 88px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation__link {
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .header__icon-home-img {
    display: none;
  }
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 800px;

  margin: auto;
  background-image: url("/img/home/home.png");
}

.home__container-top {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 325px;
}
.home-text {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.63px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
  text-shadow: -2px -2px 0 #172a6e, 2px -2px 0 #172a6e, -2px 2px 0 #172a6e,
    2px 2px 0 #172a6e;
}
.home__google-button_link {
  display: inline-block;
  width: 290px;
  height: 150px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .home__container-top {
    display: flex;

    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 490px 0 0 90px;
  }
  .home-text {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 560px;
  }
  .home__google-button_link {
    display: inline-block;
    width: 209.33px;
    height: 69.67px;
    margin-right: 0px;
    margin-left: 130px;
  }
}
.about {
  padding: 32px 0px 0;
  margin: auto;
  width: 375px;
  background: #5ebdfe;
}
.about-container {
  padding: 0 20px;
}
.about-title {
  padding: 0 20px 40px;
  font-family: Sansita;
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text-bold {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-img {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/Frame\ 157.png");
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0 0 0 69px;
    margin: auto;
    width: 1440px;
    height: 600px;
  }
  .about {
    padding: 0;
    margin: auto;
    width: 1440px;
    background: #5ebdfe;
  }
  .about-container {
    padding: 0;
    padding-left: 69px;
  }
  .about-container-desk {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-title {
    padding: 0 0 40px;

    font-family: Sansita;
    font-size: 32px;
    font-weight: 900;
    line-height: 38.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 600px;
  }

  .about-img {
    width: 830px;
    height: 588.68px;
    background-image: url("/img/about/Frame\ 157.png");
  }
}
.advantages {
  width: 375px;
  height: 885px;
  margin: auto;
  background: url("/img/advantages/How\ to\ Play.png") no-repeat center / cover;
}
.advantages-container {
  padding: 40px 20px;
}
.advantages-title {
  font-family: Sansita;
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 40px;
  width: 335px;

  padding: 22px 17px 22px 18px;

  border-radius: 26px;
  background: #ffffff4d;

  border: 4px solid #ffffff;
  backdrop-filter: blur(40px);
}
.advantages-item {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  gap: 18px;
}

.advantages-text-bold {
  font-family: Sansita;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.advantages-text {
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 300px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    height: 700px;

    margin: auto;
    background: url("/img/advantages/How\ to\ Play\ \(1\).png") no-repeat center /
      cover;
  }
  .advantages-container {
    padding: 32px 131px;
  }

  .advantages-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 66px;
    margin-top: 53px;
    width: 1178px;
    height: 500px;

    padding: 43px 46px;
  }
  .advantages-item {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    gap: 18px;
  }

  .advantages-text {
    width: 518px;
  }
}

.reviews {
  width: 375px;
  height: 987px;
  top: 3234px;
  gap: 0px;
  opacity: 0px;

  margin: auto;
  padding: 40px 87px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/Benefits.png");
}

.reviews-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 196px;
}

.reviews-item-text {
  width: 200px;
  height: 118px;
  padding: 10px 0;

  border-radius: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 2px solid #000000;
}
.reviews-text-bold {
  font-family: Sansita;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 400px;
    background-image: url("/image/reviews/Reviews\ \(1\).png");
    padding: 40px 0px;
  }
  .reviews {
    width: 1440px;
    height: 300px;
    margin: auto;
    padding: 47px 190px;
    background-image: url("/img/reviews/Benefits\ \(1\).png");
  }

  .reviews-list {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 88px;
  }
  .reviews-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 196px;
  }

  .reviews-item-text {
    width: 200px;
    height: 118px;
    padding: 10px 0;

    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border: 2px solid #000000;
  }
  .reviews-text-bold {
    font-family: Sansita;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.faq {
  padding: 32px 20px;
  margin: auto;
  width: 375px;
  min-height: 740px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/faq/FAQ.png");
}
.faq-container {
  width: 335px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: auto;
}

.faq-item {
  width: 335px;
  padding: 16px;
  border-radius: 26px;
  background: #ffffff;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  font-family: Sansita;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.toggle-button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;

  cursor: pointer;
}

.faq-answer {
  width: 251px;
  display: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .faq {
    padding: 32px 20px;
    margin: auto;
    width: 1440px;
    min-height: 760px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/faq/FAQ\ \(1\).png");
  }
  .faq-container {
    width: 763px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: auto;
  }

  .faq-item {
    width: 763px;
    padding: 16px 32px;
  }

  .faq-answer {
    width: 619px;
  }
}
.gallery {
  width: 375px;
  height: 600px;
  margin: auto;
  padding: 32px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/15076244_rm247-ning-10b\ 1.png");
}
.gallery-title {
  font-family: Sansita;
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.gallery__item {
  width: 284px;
  height: 380px;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  margin: 0 7px;
  border: 2px solid #ffffff;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: auto;
}

.gallery__list {
  width: 340px;
  padding-top: 40px;
  margin: auto;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 47px;
  margin-top: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  width: 60px;
  height: 60px;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  width: 74px;
  height: 38px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 650px;

    margin: auto;
    padding: 32px 88px 40px;
  }

  .gallery__container {
    padding-top: 40px;
  }
  .gallery__list {
    margin: auto;
    width: 1200px;
  }
  .gallery__item {
    width: 284px;
    height: 380px;

    margin: 0 7px;
  }
}

.footer {
  background: #0379cb;

  color: #fff;
  padding: 21px 14px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 28px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 4px;
}
.footer-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.footer-img {
  width: 281px;
  height: 196px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 39px 84px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    gap: 131px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 6px;
  }
  .footer-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 100px 20px 40px;
  background: #fffefb;
  color: #000;
}
.policy-terms-title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 900;
  line-height: 38.73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy-terms-text-one {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 120px 86px 40px;
    align-items: start;
  }
}
